<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Reviews</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        {% if user.is_authenticated %}        
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Dealership Reviews</a>
                <div class="row">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color:green">Welcome {{ user.first_name}} {{ user.last_name}} !</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" style="background : #68abdb; color:#FFFFFF; border-radius :50px;"
                                aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'djangoapp:about' %}">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'djangoapp:logout' %}" style="color:red">Sign out</a>                            
                        </li>
                        <li class = "nav-item">
                            <a class="nav-link" href="{% url 'djangoapp:add_review' %}">Add review</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </nav>
        {% else %}
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Dealership Reviews</a>
                <div class="row">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" style="background : #68abdb; color:#FFFFFF; border-radius :50px;"
                                aria-current="page" href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact us</a>
                        </li>
                    </ul>
                    <form action = "{% url 'djangoapp:login' %}" method = "POST" class="d-flex">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <input name = "username" class="form-control me-2" type="text" placeholder="Username" aria-label="Username"
                                    style="margin-left:20px" required>
                            </div>
                            <div class="col">
                                <input name = "password" class="form-control me-2" type="password" placeholder="Password"
                                    aria-label="Password" required>
                            </div>
                            <div>
                                <input class="btn btn-outline-primary" value = "Login" type="submit">
                                <a href="{% url 'djangoapp:signup' %}" class="link-primary">Sign up</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </nav>
        {% endif %}
        <br><br><br>
    
        <div class = "container">
           <div class = "col-lg-12">
            <form class = "" action="{% url 'djangoapp:add_review' %}" method="POST">
                {% csrf_token %}
                <label for="">Enter the review content :</label>
                <textarea class = "form-control" name="content" rows="2" required></textarea><br>                
                <input class = "form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck"><label> Has purchase the car from Sub-Ex Car Dealership ? (select purchased car information below if checked) </label>
                <label for="">Select your car(model-make-year) : </label>
                <select class = "form-select form-select-sm" aria-label=".form-select-sm example" name="car" id="car" required>
                    {% for car in cars %}
                        <option selected value="{{ car.id }}">{{ car.name }} - {{ car.car_make }} - {{ car.year|date:"Y" }}</option>
                    {% endfor %}
                </select>
                <label for="">Select your purchase date :</label>
                <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate"><br>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
           </div>
        </div>

    </body>

    <script type="text/javascript">
        $('.date-own').datepicker({
           format: 'mm/dd/yyyy'
         });
   </script>
</html>
