<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
        {% if user.is_authenticated %}        
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Dealership Reviews</a>
                <div class="row">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color:green">Welcome {{ user.first_name}} {{ user.last_name}} !</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" style="background : #68abdb; color:#FFFFFF; border-radius :50px;"
                                aria-current="page" href="/djangoapp">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'djangoapp:logout' %}" style="color:red">Sign out</a>                            
                        </li>
                        <li class = "nav-item">
                            <a class="nav-link" href="{% url 'djangoapp:add_review'  %}">Add review</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </nav>
        {% else %}
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Dealership Reviews</a>
                <div class="row">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" style="background : #68abdb; color:#FFFFFF; border-radius :50px;"
                                aria-current="page" href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact us</a>
                        </li>
                    </ul>
                    <form action = "{% url 'djangoapp:login' %}" method = "POST" class="d-flex">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <input name = "username" class="form-control me-2" type="text" placeholder="Username" aria-label="Username"
                                    style="margin-left:20px" required>
                            </div>
                            <div class="col">
                                <input name = "password" class="form-control me-2" type="password" placeholder="Password"
                                    aria-label="Password" required>
                            </div>
                            <div>
                                <input class="btn btn-outline-primary" value = "Login" type="submit">
                                <a href="{% url 'djangoapp:signup' %}" class="link-primary">Sign up</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </nav>
        {% endif %}
        <br><br><br>
        <div class = "container">  
            <div class = "col-lg-6oo">
            {% for review in reviews %}
            <div class="cad mb-3" style="max-width:px; border-radius:0 50px 50px 0">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ MEDIA_URL }}emoji/positive.png" class="img-fluid rounded-start" alt="sentiment">
                  </div>
                  <div class="col-md-8" style="background-color:#DFDDDD; color:#232323; border-radius:0 50px 50px 0">
                    <div class="card-body">
                      <h5 class="card-title">{{ review.name }}</h5>
                      <p class="card-text">{{ review.car_year }}</p>
                      <p class="card-text"><small style="color:#232323" class="text">{{ review.review }}</small></p>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
        </div>
    </body>

</html>
